form{
    display :grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 40px;
}

.input_individual{
    display: flex;
    flex-direction: column;
    padding: 0 25px;
}
 #boton {
    display: grid;
    justify-content: end;
 }